*{
    box-sizing: border-box;
}
.basket{
    position: fixed;
    top: 200px;
    border: 1px solid rgb(148, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    right: 265px;
    background: white;
}
.basket-label{
    color: #000;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.basket-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    padding-left: 20px;
    padding-right: 32px;
    height: 80px;
    background: #F5F5F5;
}
.basket-close-button{
    /* width: 76px;
    height: 21px; */
}